@model QLBANHANG.Models.MATHANG

@{
    ViewBag.Title = "Chi tiết mặt hàng";
    Layout = "~/Views/Shared/_LayoutQLBH.cshtml";
}

<div class="sidebar">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "ThongKe")">
                        <i class="fas fa-coins"></i>
                        <p>Thống kê</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Danh mục</h4>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "LOAIMATHANG")">
                        <i class="fas fa-boxes"></i>
                        <p>Loại mặt hàng</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="@Url.Action("Index", "MATHANG")">
                        <i class="fas fa-box"></i>
                        <p>Mặt hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "HOADON")">
                        <i class="fas fa-money-bill"></i>
                        <p>Hóa đơn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#nhaphang">
                        <i class="fas fa-file-import"></i>
                        <p>Nhập hàng</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="nhaphang">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index", "DONNHAPHANG")">
                                    <span class="sub-item">Đơn nhập hàng</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CHITIETDONNHAPHANG")">
                                    <span class="sub-item">Chi tiết đơn nhập hàng</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("KiemTraHangNhap", "DONNHAPHANG")">
                                    <span class="sub-item">Kiểm tra hàng nhập</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#nhacungcap">
                        <i class="fas fa-store"></i>
                        <p>Cung cấp</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="nhacungcap">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="@Url.Action("Index", "NHACUNGCAP")">
                                    <span class="sub-item">Nhà cung cấp</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CHITIETNHACUNGCAP")">
                                    <span class="sub-item">Chi tiết nhà cung cấp</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d-flex justify-content-center mt-3">
                    <a href="@Url.Action("Index", "TrangChu")" class="btn btn-danger">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Chi tiết mặt hàng</h4>
                        <div class="ml-auto">
                            <a href="@Url.Action("Edit", "MATHANG", new {id = Model.MAMH})" class="btn-sm btn-primary" style="text-decoration-line: none"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                            <a href="@Url.Action("Index", "MATHANG")" class="btn-sm btn-default" style="text-decoration-line: none"><i class="fas fa-arrow-left"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <dl class="dl-horizontal text-center">
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.MAMH):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.MAMH)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.TENMH):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.TENMH)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.LOAIMATHANG.TENLMH):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.LOAIMATHANG.TENLMH)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.DONVI):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.DONVI)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.SOLUONGTK):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.SOLUONGTK)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.VITRI):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.VITRI)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.MOTA):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.MOTA)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.GIABAN):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.GIABAN)
                                </dd>
                            </div>
                            <div>
                                <dt class="d-inline-block">
                                    @Html.DisplayNameFor(model => model.GIAMUA):
                                </dt>

                                <dd class="d-inline-block">
                                    @Html.DisplayFor(model => model.GIAMUA)
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
