@model Demo_PTTKHTTT.Models.MATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONGTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAMUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAMUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIMATHANG.TENLMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIMATHANG.TENLMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAMH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
