
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>

<body>
    <style>
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #638BCD;
        }
    </style>

    <div>
        <span>@Html.ActionLink("Giới thiệu", "GioiThieu_63132095", "SinhVien0720_63132095", new { area = "" }, new { @class = "nav-link" })</span> |
        <span>@Html.ActionLink("Thêm mới", "Create", "SinhVien0720_63132095", new { area = "" }, new { @class = "nav-link" })</span> |
        <span>@Html.ActionLink("Danh sách", "Index", "SinhVien0720_63132095", new { area = "" }, new { @class = "nav-link" })</span> |
        <span>@Html.ActionLink("Tìm kiếm", "TimKiem_63132095", "SinhVien0720_63132095", new { area = "" }, new { @class = "nav-link" })</span>
    </div>
    <hr style="height: 2px; background-color: #74FFFF; border: none" />
    <div>
        @RenderBody()
    </div>
</body>
</html>
