@model List<BTT6_Nhom9_63CNTT4.Models.Nhanvien>

@{
    ViewBag.Title = "Lọc nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lọc nhân viên</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DropDownList("filter", ViewBag.PhongBan as SelectList, "Chọn phòng ban", new { @class = "form-control" })<br />
        <input type="submit" value="Lọc nhân viên" class="btn btn-primary" />
    </div>
}

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>Mã Nhân viên</th>
            <th>Họ Tên Nhân viên</th>
            <th>Hình ảnh</th>
            <th>Lương</th>
            <th>Ngày Sinh</th>
            <th>Mã Phòng</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Manv</td>
                <td>@item.Hotennv</td>
                <td><img src="@item.Hinhanh" alt="Hình ảnh" style="width: 100px; height: 100px" /></td>
                <td>@item.Luong</td>
                <td>@item.Ngsinh</td>
                <td>@item.Phongban.Tenphong</td>
            </tr>
        }
    </table>
}

else 
{
    <p>Chưa có nhân viên ở phòng ban này!</p>
}